<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>
<h1>Namaskaar Swagat hai aapka yaha pe :).</h1>
<h1>Enter Text you want to </h1>
<form action="/analyzeText" method="get">
    <textarea name='text' style="margin: 0px; width: 877px; height: 33px;"></textarea><br>
    <input type="checkbox" name="Remove Punctuation">Remove special characters<br>
    <input type="radio" name="Start with capital">Capitalize First character<br>
    <input type="radio" name="capitalize">All UPPERCASE<br>
    <input type="radio" name="lower">All UPPERCASE<br>
    <input type="radio" name="extraspaceremover">Remove Extra space<br>
    <button type="submit">Analyze</button>
</form>
</body>
</html>
